/* html {
  scroll-behavior: smooth;
} */
body {
  font-family: sans-serif;
  color: #404146;
  text-align: center;
  background-color: #f4f4f4;
}

li {
  list-style: none;
}

.header {
  background-color: #1fc98c;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 25px 40px;
}

.header-list li {
  float: left;
  margin-top: 30px;
  margin-left: 100px;
  padding: 0px 2px;
  font-size: 20px;
  box-sizing: border-box;
}

.header-list a {
  text-decoration: none;
  color: #fff;
  transition-duration: 0.5s;
}
.header-list a:hover {
  border-bottom: 3px groove #463a3a;
  font-size: 110%;
}
.copy-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.copy-container h1 {
  font-size: 60px;
  margin-bottom: 0px;
  letter-spacing: 5px;
  margin-top: 20px;
  text-align: center;
}

.copy-container span {
  color: #e41818;
}

.copy-container img {
  height: 280px;
  border-radius: 50%;
  border: 3px solid #fff;
  padding: 1px;
  box-shadow: 0px 0px 6px rgba(0, 60, 255, 0.863);
}

.about {
  font-size: 30px;
  height: 400px;
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
}

.about p {
  padding: 0px 150px;
  font-size: 20px;
  margin-top: 50px;
  text-align: justify;
}

.contents {
  height: 500px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.contents h3 {
  font-size: 28px;
  padding-bottom: 20px;
}

.contents-item {
  float: left;
  width: 33.3%;
  margin-top: 50px;
}

.contents-item img {
  height: 300px;
  box-shadow: 5px 5px 20px rgba(228, 228, 228, 0.886);
}
.contents-item .scale {
  transition-duration: 0.4s;
}
.contents-item .scale:hover {
  transform: scale(1.2);
}
.contents-item .scaleup {
  transition-duration: 0.4s;
}
.contents-item .scaleup:hover {
  transform: scale(1.7);
}
.contents-item p {
  font-size: 24px;
  margin-top: 30px;
  padding: 0px 20px;
}

.contact-form {
  height: 500px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fff;
}

.contact-title {
  font-size: 28px;
  padding-bottom: 20px;
  text-align: center;
}

input,
textarea,
button {
  width: 800px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  border: 0px;
  background-color: #f4f4f4;
  border-radius: 15px;
  transition: all 0.3s ease-in;
  box-sizing: border-box;
}

input:focus,
textarea:focus,
button:focus {
  outline: none !important;
  border-color: #1fc98c;
  box-shadow: 0 0 7px #09fda4;
}

button:hover {
  cursor: pointer;
}

button:active {
  outline: none !important;
  border: 2px solid #1de99e;
  border-radius: 15px;
}
::placeholder {
  font-family: "Avenir Next";
  color: #7c7d83;
}

.contact-submit {
  width: 500px;
  background-color: #2a8aeb;
  color: #fdfcfc;
  font-size: 30px;
}

.contact-form p {
  font-size: 20px;
}
.about hr,
.contact-form hr {
  width: 250px;
  margin-top: -20px;
  border: 1px solid rgb(110, 109, 109);
}
.contents hr {
  width: 250px;
  margin-top: -40px;
  border: 1px solid rgb(110, 109, 109);
}
.footer {
  background-color: #099964;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
}
.sosmed p {
  margin-top: -30px;
  margin-left: -348px;
  color: #0a253f;
}
.sosmed img {
  float: left;
  padding-right: 30px;
}
p.logo {
  margin-top: -30px;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 10px;
}

p.copy {
  float: left;
  margin-top: 70px;
  margin-right: 308px;
  font-size: 15px;
}
.footer-list {
  float: right;
}

.footer-list li {
  margin-bottom: 30px;
  font-weight: 500;
}

.footer-list a {
  text-decoration: none;
  color: #fff;
}
.clear {
  clear: both;
}
